.co-red{
color: rgb(237,27,35);
}
.co-blue{
color: rgb(36,49,122);
}
.co-ye{
color:  rgb(255,213,2);
}
.co-whi{
color: white;
}
.bag-red{
 background-color: rgb(237,27,35);
}
.bag-blue{
 background-color:  rgb(36,49,122);
}
.bag-ye{
 background-color:  rgb(255,213,2);
}
.bag-whi{
background-color: white;
}
.ft-nes{
    font: fantasy;
}
.img-car{
    width: 30px;
    height: 30px;
}
.config{
    color: white;
    font-size: 15px;
    font-weight: bolder;
}
body{
    background-color: rgb(237,27,35);
    padding-bottom: 4%;
}